<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>admin</title>
	
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
 
</head>
<body>
	<style type="text/css">
		.header{
		
			padding: 5px;
			background: #E7E9EB;
			position: relative;
		}
		.header .header-logo img{
			width: 160px;
			display: block;
			margin: auto;
		}
		.my-custom-button{
			background: #455A64;
			color: white;
			border: none;
			outline: none;
			border-radius: 0px;
			padding: 10px;
			padding-right: 40px;
			padding-left: 40px;
			font-size: 18px;
		}
		.my-custom-button:hover{
			background: #83D689;
			color: black;
		}
		.form-control{
			border-radius: 0px;
		}
		#butExit{
			position: absolute;
			right: 10px;
			top: 15px;
		}
	</style>

<div class="header">
	<div class="container">
		<div class="header-logo">
			<a href="/"><img src="/img/admin_logo.svg"></a>
		</div>
		<button type="button" class="btn btn-outline-dark" id="butExit">Вийти</button>
	</div>
</div>

	

