<%- include('../include/header') %>

    <div class="container">
        <style type="text/css">
            .block-login{
                padding: 20px;
                border: 1px solid #E7E9EB;
                display: block;
                margin: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 60%;

            }
            .block-login form input{
                width: 100%;
                margin-bottom: 10px;
                border: 1px solid #E7E9EB;
                padding: 10px;

            }   
            .block-login .title-login{
                text-align: center;
                color: #455A64;
            }
            .block-login form label{
                line-height: 5px;
                 color: #455A64;
            }
            @media(max-width: 767px){
            .block-login{
                width: 100%;
            }
            }

        </style>


        <div class="block-login">
            <h3 class="title-login">Вхід в акаунт</h3>

             <form method="post" action="/loginStudent">
            <label for="login">Логін:</label>
            <input type="text" name="login" id="login" placeholder="antonovserhiy" required minlength="4">
            <label for="login">Пароль:</label>
            <input type="password" name="password" id="password" placeholder="********" required><br>
             <small class="text-muted">*дані для входу надає викладач, тому в разі втрати паролю або логіну, звертайтеся до свого наукового керівника...</small>
                <br>
            <input type="submit" value="Вхід" class="my-custom-button">
        </form>   


        </div>
        

    </div>
<%- include('../include/footer') %>